// COLORS
/*
  品牌色
  COLORS:
  Light green: #7ed56f
  Medium green: #55c57a
  Dark green: #28b485
*/
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
// div或卡片的圆角
$box-radius: 0.5rem;
// FONT
$default-font-size: 1.8rem;
// GRID
// 单行的宽度
$grid-width: 114rem;
// 不同块之间的间隔(垂直)
$gutter-vertical: 8rem;
// 水平间距
$gutter-horizontal: 6rem;
