// 实用程序类 utility class
// !important让样式优先级提高,为了让util样式可用
// 使文字居中
.u-center-text {
    text-align: center !important;
}
.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}
.u-margin-bottom-small {
    margin-bottom: 2rem !important;
}
.u-margin-top-big {
    margin-top: 8rem !important;
}
.u-margin-top-huge {
    margin-top: 10rem !important;
}
